<head>
    {% assign rawcategories = "" %}
    {% for post in site.posts %}
    {% assign categories = post.categories | join:'|' | append:'|' %}
    {% assign rawcategories = rawcategories | append:categories %}
    {% endfor %}
    {% assign rawcategories = rawcategories | split:'|' | sort %}

    {% assign site.categories = "" %}
    {% for categorie in rawcategories %}
    {% if categorie != "" %}
    {% if categories == "" %}
    {% assign categories = categorie | split:'|' %}
    {% endif %}
    {% unless categories contains categorie %}
    {% assign categories = categories | join:'|' | append:'|' | append:categorie | split:'|' %}
    {% endunless %}
    {% endif %}
    {% endfor %}
</head>