<form action="https://app.99inbound.com/api/e/z4Texb6M" method="POST" target="_blank" class="form-blog">
    <label for="name">Nombre
        <input type="text" name="name" id="name" placeholder="ejemplo: Miguel Angel">
    </label>
    <label for="name">Email
        <input type="email" name="email" id="email" placeholder="ejemplo: miguel@angel.com">
    </label>
    <label for="name">Mensaje
        <input type="text" name="message" id="message" placeholder="Escribe aquí tu mensaje.">
    </label>
    <div style="position: absolute; left: -5000px;">
        <input type="checkbox" name="excellent_magenta_tartan_gloves" value="1" tabindex="-1" autocomplete="no">
    </div>
    <button class="form-button">Enviar</button>
</form>
