@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,800;0,900;1,800;1,900&display=swap');

body {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--bg);
    color: var(--txt1);
}

h1, h2, h3 {
    color: var(--title1);
    width: 100%;
    margin-top: 1rem;
}

h1 {
    font-family: 'Raleway', sans-serif;
    /*font-style: italic;*/
    font-size: 3rem;
    font-weight: 800;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h2 {
    padding-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

p {
    color: var(--txt1);
    font-weight: 400;
    padding-top: 0.25rem;
}

a:link {
    color: var(--high1);
    font-weight: 600;
}

a:visited {
    color: var(--high1);
    font-weight: 600;
}

main li {
    margin: 0.5rem 0rem 0.5rem 1.5rem;
}

.anchor {
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--title1);
}

:target {
    background-color: var(--bg2);
    color: var(--title1);
}

.h2-list {
    font-size: 1rem;
    font-weight: 600;
}

.main-title {
    box-shadow: 0.75rem 0 0 var(--high1);
	width: 18ch;
    margin: 2rem auto;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    font-family: monospace;
    animation:  caret .5s 13 forwards,
                type 5s steps(18, end);

    &:link {
        color: var(--high1);
    }

    &:visited {
        color: var(--high1);
    }
}

@keyframes type {
    0% {
    width: 0;
    }
}

@keyframes caret {
    50% {
    box-shadow: 0.75rem 0 0 transparent;
    }
}

.contact {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    text-align: right;

    &:link {
        color: var(--high1);
    }

    &:visited {
        color: var(--high1);
    }
}

.push {
    color: var(--txt2);
}