
* {
  margin: 0;
  padding: 0;
}

.dark {
  --bg: #222;
  --bg2: #333;
  --bg3: #444;
  --txt1: #ccc;
  --txt2: #888;
  --title1: #eee;
  --high1: hsl(180, 85%, 40%);
  --high2: hsl(180, 80%, 35%);
}

.light {
  --bg: #eee;
  --bg2: #ddd;
  --bg3: #ccc;
  --txt1: #333;
  --txt2: #888;
  --title1: #222;
  --high1: hsl(190, 90%, 30%);
  --high2: hsl(190, 85%, 25%);
}

html {
  scroll-behavior: smooth;
}

footer {
  margin: 2rem auto 0rem;
  padding-bottom: 1rem;
  color: var(--txt1);
  font-size: 0.8rem;
}

hr {
  margin: 2rem auto;
  border-top: 2px solid var(--txt1);
  text-decoration: none;
}