/*
blockquote {
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 0.25rem;
  background-color: var(--bg2);
  color: var(--title1);
  font-size: 1rem;
}
*/

blockquote {
  background: var(--bg2);
  border-left: 0.5rem solid var(--txt2);
  margin: 0.5rem;
  padding: 0.5rem;
  quotes: "\201C""\201D"; /*\0022"\201C""\201D""\201E""\2018""\2019"*/
}
blockquote:before {
  color: var(--txt2);
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  content: close-quote;
  font-size: 1rem;
}
blockquote p {
  display: inline;
  color: var(--title1);
  font-size: 1rem;
  font-weight: 400;
  align-content: center;
}
