:root {
  --dark-coal: #222;
  --medium-coal: #333;
  --light-coal: #444;
  --gray: #888;
  --dark-snow: #ccc;
  --medium-snow: #ddd;
  --light-snow: #eee;
  --dark-blue: hsl(250, 50%, 50%);
  --light-blue: hsl(250, 50%, 55%);
  --dark-cyan: hsl(250, 75%, 70%);
  --light-cyan: hsl(250, 75%, 75%);
}
