:root {
  --dark-coal: #222;
  --medium-coal: #333;
  --light-coal: #444;
  --gray: #888;
  --dark-snow: #ccc;
  --medium-snow: #ddd;
  --light-snow: #eee;
  --dark-blue: hsl(240, 90%, 60%);
  --light-blue: hsl(240, 90%, 65%);
  --dark-cyan: hsl(230, 90%, 70%);
  --light-cyan: hsl(230, 90%, 75%);
}
