:root {
  --dark-coal: #222;
  --medium-coal: #333;
  --light-coal: #444;
  --gray: #888;
  --dark-snow: #ccc;
  --medium-snow: #ddd;
  --light-snow: #eee;
  --dark-blue: hsl(190, 85%, 25%);
  --light-blue: hsl(190, 90%, 30%);
  --dark-cyan: hsl(180, 80%, 35%);
  --light-cyan: hsl(180, 85%, 40%);
}
