/* Eliminar última lista */
.post-container > ul:last-child > li:last-child {
    display: none;
}

/* Eliminar último hr */
.post-container > hr:last-of-type {
    display: none;
}

main footer {
    position: absolute;
    max-width: 100vw;
    left: 0;
    width: calc(100% - 2rem);
    overflow: hidden;
    margin: 2rem auto 0;
    padding: 2rem 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.footer {
    background-color: var(--title1);

    & a {
        color: var(--bg1);
    }
}

.footer.css{
    background-color: #264de4;

    & a {
        color: #ebebeb;
    }
}

.footer.html{
    background-color: #e34c26;

    & a {
        color: #ebebeb;
    }
}
