/* línea que une los tags */
.tag-line {
    text-decoration: underline var(--bg1);
}

/* tag independiente */
.tag-cuadro {
    padding: 0.2em;
    background-color: var(--high1);
    text-decoration: underline var(--high1);
    color: var(--bg1);
    font-weight: 600;
    font-size: 1rem;
    white-space: nowrap;

    &:hover {
        background-color: var(--high2);
        text-decoration: underline var(--high2);
    }
}

/* 2 filas: [tags-fecha]-[enlace] */
.tag-list-date {
    display: flex;
    flex-direction: column;
    margin: 2em auto;

    & span {
        display: flex;
        flex-direction: row;
        line-height: 1;
        gap: 0.5em;
    }

    & span .list-date {
        line-height: 1.25;
        font-size: 0.8rem;
    }

    & span .tag-span {
        display: flex;
        flex-direction: row;
        margin-top: 0;
        padding-top: 0;
        color: var(--txt2);
        line-height: 1;
        gap: 0.25em;
    }

    & a {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        text-decoration: none;

        &:hover {
            text-decoration: underline var(--high1);
        }
    }
}

.tag-list {
    color: var(--txt2);
}

/* Nube de tags */
.tag-cloud {
    line-height: 2;
}

#post header span a {
    margin-right: 0.3em;
}
