.tag-highligher {
    text-decoration: underline var(--bg1);
    /*línea que une los tags*/
}

/*tag*/
.tag-cuadro {
    padding: 0 2px 2px 2px;
    background-color: var(--high1);
    text-decoration: underline var(--high1);
    color: var(--bg1);
    font-weight: 600;
    font-size: 1rem;
}

.tag-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 1rem;
}

.tag-column {
    background-color: hsla(180, 100%, 20%, 0.2);
    padding: 1rem;
}

.post-date {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    color: var(--txt2);
}

/* 3 columnas de fecha-nombre-tags */

.tag-list-date {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    /*line-height: 1.5rem;*/

    & a {
        font-size: 1.5rem;
        text-decoration: none;
    }

    & div p {
        color: var(--txt2);
    }
}

.first-date {
    line-height: 2.5;
    width: 6rem;
    color: var(--txt2);
    font-size: 0.8rem;
}

.tag-cloud {
    line-height: 1.8;
}
/*
.push {
    color: var(--txt2);
}*/