/* línea que une los tags */
.tag-line {
    text-decoration: underline var(--bg1);
}

/* tag independiente */
.tag-cuadro {
    padding: 0 2px 2px 2px;
    background-color: var(--high1);
    text-decoration: underline var(--high1);
    color: var(--bg1);
    font-weight: 600;
    font-size: 1rem;
}

/* 3 filas: fecha/enlace/tags */
.tag-list-date {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;

    & a {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        text-decoration: none;
    }

    & div p {
        margin-top: 0;
        padding-top: 0;
        color: var(--txt2);
    }
}

/* Nube de tags */
.tag-cloud {
    line-height: 1.8;
}

.tag-list {
    color: var(--txt2);
}