.black {
    --bg1: var(--dark-coal);
    --bg2: var(--medium-coal);
    --bg3: var(--light-coal);
    --txt1: var(--dark-snow);
    --txt2: var(--gray);
    --title1: var(--light-snow);
    --high1: var(--light-cyan);
    --high2: var(--dark-cyan);
}
