.white {
    --bg1: var(--light-snow);
    --bg2: var(--medium-snow);
    --bg3: var(--dark-snow);
    --txt1: var(--medium-coal);
    --txt2: var(--gray);
    --title1: var(--dark-coal);
    --high1: var(--dark-blue);
    --high2: var(--light-blue);
}
