<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="assets/styles/main.css">
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
</head>
<body>
    {% include header.html %}
    <main class="page-content">
        {{ content }}
    </main>
    <script src="{{ site.baseurl }}/assets/js/theme.js"></script>
</body>
</html>