body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em auto 0 auto;
    padding: 0 1em;
    max-width: 45em;
    min-width: 320px;
    background-color: var(--bg1);
    color: var(--txt1);
}

main {
    margin: 1em 1em 0 1em;
}
