body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto 0 auto;
    padding: 0 1rem;
    max-width: 45rem;
    min-width: 320px;
    background-color: var(--bg1);
    color: var(--txt1);
}

main {
    margin: 1rem 1rem 0 1rem;
}
