.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .upper-header {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding-bottom: 3em;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 0;
        padding-bottom: 0;
        line-height: 0.75;
        vertical-align: text-bottom;
    }
}

.mainTitle, .mainTitleAnimated {
    margin: 0 0 0.5em;
    padding-bottom: 0.2em;
    width: 9ch;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: 800;

    &:link {
        color: var(--high1);
    }

    &:visited {
        color: var(--high1);
    }

    &:hover {
        text-decoration: underline var(--high1);
    }
}

.mainTitleAnimated {
    animation:  pop-up-rectangle .5s 5 forwards step-end,
                pop-up-characters 2.5s steps(9, end);

    /* rectangulo parpadeando */
    box-shadow: 0.5em 0 0 transparent;
}

@keyframes pop-up-characters {
    0% {
    width: 0;
    }
}

@keyframes pop-up-rectangle {
    50% {
    /* rectangulo parpadeando */
    box-shadow: 0.5em 0 0 var(--high1);
    }
}
