.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .upper-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 0;
        padding-bottom: 0;
        line-height: 0.75;
        vertical-align: text-bottom;

        & .contact {
            text-decoration: none;
            text-align: right;
            font-family: monospace;
            font-size: 1rem;
            font-weight: 500;

            &:link {
                color: var(--high1);
            }

            &:visited {
                color: var(--high1);
            }

            &:hover {
                text-decoration: underline var(--high1);
            }
        }
    }
}

.main-title {
    margin: 2em auto;
    width: 18ch;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    font-family: monospace;
    font-size: 1.5rem;
    font-weight: 800;
    animation:  pop-up-rectangle .5s 12 forwards step-end,
                pop-up-characters 5s steps(18, end);

    &:link {
        color: var(--high1);
    }

    &:visited {
        color: var(--high1);
    }

    &:hover {
        text-decoration: underline var(--high1);
    }

    /* rectangulo parpadeando */
    box-shadow: 0.75em 0 0 transparent;
}

@keyframes pop-up-characters {
    0% {
    width: 0;
    }
}

@keyframes pop-up-rectangle {
    50% {
    /* rectangulo parpadeando */
    box-shadow: 0.75em 0 0 var(--high1);
    }
}
