.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .upper-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        & .contact {
            text-decoration: none;
            font-size: 1rem;
            font-weight: 500;
            text-align: right;

            &:link {
                color: var(--high1);
            }

            &:visited {
                color: var(--high1);
            }
        }
    }
}

.main-title {
    box-shadow: 0.75rem 0 0 var(--high1);
	width: 18ch;
    margin: 2rem auto;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    font-family: monospace;
    animation:  caret .5s 13 forwards,
                type 5s steps(18, end);

    &:link {
        color: var(--high1);
    }

    &:visited {
        color: var(--high1);
    }
}

@keyframes type {
    0% {
    width: 0;
    }
}

@keyframes caret {
    50% {
    box-shadow: 0.75rem 0 0 transparent;
    }
}
