.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-right: 0.5em;
    list-style: none;
    font-weight: 600;
    font-size: 1rem;
}

.menu child {
    position: absolute;
}

.menu li p, .menu li a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: var(--bg2);
    color: var(--txt1);
    text-align: center;
    cursor: pointer;

    &:hover, &:focus {
        background-color: var(--bg3);
    }
}

.menu li {
    &:hover, :focus {
        .submenu {
            transform: scale(1, 1);
            transition: transform .2s;
        }
    }
}

.submenu {
    display: inline-block;
    position: absolute;
    max-width: 15em;
    width: 33.333%;
    list-style: none;
    text-align: center;
    transform-origin: top center;
    transform: scale(1, 0);
}

/* ancho-de-submenu === ancho-de-menu */
@media only screen and (max-width: 48em) {
    .submenu {
        width: calc(33.333vw - 1em);
        min-width: 106.66px;
    }
}

.submenu li {
    width: 100%;
    list-style: none;
}

.submenu li a {
    background-color: var(--txt1);
    color: var(--bg1);
    font-size: 0.8rem;

    &:hover {
        background-color: var(--high1);
        text-decoration: none;
    }
}
/*
@media (max-width: 24em) {
    .submenu li a {
        width: calc(33.333vw - 2.5rem);
        background-color: indianred;
    }
}
*/