* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.foto {
    display: block;
    margin: 0 auto;
    object-fit: cover;
    max-width: 15em;
    padding: 2em 0 0;
}