/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
*/
body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Frutiger Linotype", "Dejavu Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

h1, h2, h3, h4 {
    /*font-family: 'Raleway', sans-serif;*/
    color: var(--title1);
    width: 100%;
    margin-top: 1em;
}

h1 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    padding-bottom: 1em;
}

h2 {
    padding-top: 0.5em;
    font-size: 1.5rem;
    font-weight: 600;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

p {
    color: var(--txt1);
    padding-top: 0.25em;
}

main li {
    margin: 0.5em 0em 0.5em 1.5em;
}

:target {
    background-color: var(--bg2);
    color: var(--title1);
}

a {
    text-decoration: none;

    &:link, &:visited {
    color: var(--high1);
    font-weight: 500;
    }

    &:hover {
        text-decoration: underline;
    }
}